<h1>Information about Formula 1 drivers:</h1>

<p>
    Name: {{vm.driver.name}}<br>
    Country: {{vm.driver.country}}<br>
    Age: {{vm.driver.age}} <br>
    Current Status: {{vm.driver.currentStatus}} <br>
    Current Team: {{vm.driver.currentTeam}} <br>
    Starting Year: {{vm.driver.startingYear}} <br>
</p>
<br>
<br>
<div ng-if="vm.isLoggedIn()">
<form name="vm.updateDateForm" ng-submit="vm.updateDriver()" >

    To add a new driver please fill in all the fields below:<BR/>

    Name: <input type="text" name="name" required ng-model="vm.editedDriverName" style="color:black"/><BR/>
    Country: <input type="text" name="country" required ng-model="vm.editedDriverCountry" style="color:black"/><BR/>
    Age: <input type="text" name="age" required ng-model="vm.editedDriverAge" style="color:black"/><BR/>
    Current Status: <input type="text" name="currentStatus" required ng-model="vm.editedDriverCurrentStatus" style="color:black"/><BR/>
    Current Team: <input type="text" name="currentTeam" required ng-model="vm.editedDriverCurrentTeam" style="color:black"/><BR/>
    Starting Year:<input type="text" name="year" required ng-model="vm.editedDriverStartingYear" style="color:black"/><BR/>
    
    <button type="submit" class="btn-success">Update Driver</button><BR/>
    <br>
    <br>
</form>
<br>
<input type="button" class="btn btn-danger" value= "Delete" ng-click="vm.deleteOneDriver()"/>
</div>